Assignment1/Problem2/1_OTN_Public_Datasets/
Assignment1/Problem2/2_OTN_Public_Datasets_Cleaned/
Assignment2/Problem2/1_Olist_Datasets/
Assignment4/1_Hourly_Weather_Datasets/
Assignment4/2_Hourly_Weather_Datasets_Clean/